<header>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand">¡Hola Marco Antonio!</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        </ul>
        <div class="d-flex" role="search">
          <button class="btn btn-outline-danger" type="button">Cerrar Sesion</button>
        </div>
      </div>
    </div>
  </nav>
</header>
<main class="container-fluid main min-vh-100">
  <div class="text-center">
    <div class="row">
      <div class="col-sm m-2">Listado de Empleados Registrados</div>
      <div class="col-sm m-2">
        <button type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#newEmployeeModal">Nuevo</button>
      </div>
    </div>
  </div>
  
  <div class="table-responsive-sm">
    <table class="table table-striped ">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Nombre</th>
          <th scope="col">Puesto</th>
          <th scope="col">Fecha de ingreso</th>
          <th scope="col">Salario</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for(employee of employees; track employee.id) {
          <tr>
            <th scope="row">{{employee.id}}</th>
            <td>{{employee.nombre}}</td>
            <td>{{employee.puesto}}</td>
            <td>{{employee.ingreso}}</td>
            <td>${{employee.salario}}</td>
            <td>
              <div class="row">
                <div class="col-sm m-2 m-sm-0">
                  <button class="btn btn-outline-info" data-bs-toggle="modal" data-bs-target="#editEmployeeModal">Editar</button>
                </div>
                <div class="col-sm m-2 m-sm-0">
                  <button class="btn btn-outline-warning" data-bs-toggle="modal" data-bs-target="#deleteEmployeeModal">Eliminar</button>
                </div>
              </div>
              
              
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>

  <!-- Modal nuevo registro -->
  <div class="modal fade" id="newEmployeeModal" tabindex="-1" aria-labelledby="newEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="newEmployeeModalLabel">Registrar Nuevo Empleado</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
          <div class="modal-body">
              <div class="mb-3">
                <label for="nombre-text" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre-text" name="nombre-text">
              </div>
              <div class="mb-3">
                <label for="puesto-text" class="col-form-label">Puesto:</label>
                <input list="allJobs" class="form-control" id="puesto-text" name="puesto-text" placeholder="Seleccione un puesto">
                <datalist id="allJobs">
                  @for(job of getAllJobs; track job.id) {
                    <option value={{job.puesto}}>{{ job.puesto }}</option>
                  }
                </datalist>
              </div>
              <div class="mb-3">
                <label for="ingreso-text" class="col-form-label">Fecha de ingreso:</label>
                <input type="date" class="form-control" id="ingreso-text" name="ingreso-text">
              </div>
              <div class="mb-3">
                <label for="salario-text" class="col-form-label">Salario:</label>
                <input type="text" class="form-control" id="salario-text" name="salario-text">
              </div>
              <div class="mb-3">
                <label for="edad-text" class="col-form-label">Edad:</label>
                <input type="number" class="form-control" id="edad-text" name="edad-text">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div> 

  <!-- Modal editar registro -->
  <div class="modal fade" id="editEmployeeModal" tabindex="-1" aria-labelledby="editEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="editEmployeeModalLabel">Editar Empleado</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form>
          <div class="modal-body">
              <div class="mb-3">
                <label for="nombre-text" class="col-form-label">Nombre:</label>
                <input type="text" class="form-control" id="nombre-text" name="nombre-text">
              </div>
              <div class="mb-3">
                <label for="puesto-text" class="col-form-label">Puesto:</label>
                <input list="allJobs" class="form-control" id="puesto-text" name="puesto-text" placeholder="Seleccione un puesto">
                <datalist id="allJobs">
                  @for(job of getAllJobs; track job.id) {
                    <option value={{job.puesto}}>{{ job.puesto }}</option>
                  }
                </datalist>
              </div>
              <div class="mb-3">
                <label for="ingreso-text" class="col-form-label">Fecha de ingreso:</label>
                <input type="date" class="form-control" id="ingreso-text" name="ingreso-text">
              </div>
              <div class="mb-3">
                <label for="salario-text" class="col-form-label">Salario:</label>
                <input type="text" class="form-control" id="salario-text" name="salario-text">
              </div>
              <div class="mb-3">
                <label for="edad-text" class="col-form-label">Edad:</label>
                <input type="number" class="form-control" id="edad-text" name="edad-text">
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-secondary" data-bs-dismiss="modal">Cancelar</button>
            <button type="submit" class="btn btn-outline-primary" data-bs-dismiss="modal">Guardar cambios</button>
          </div>
        </form>
      </div>
    </div>
  </div> 

  <!-- Modal advertencia eliminacion registro -->
  <div class="modal fade" id="deleteEmployeeModal" tabindex="-1" aria-labelledby="deleteEmployeeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="deleteEmployeeModalLabel">¿Seguro que deseas eliminar el registro?</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <form action="">
          <div class="modal-footer">
            <button type="button" class="btn btn-outline-dark" data-bs-dismiss="modal">No</button>
            <button type="button" class="btn btn-outline-danger">Si</button>
          </div>
        </form>
      </div>
    </div>
  </div> 

</main>
<footer class="footer card text-center">  
  <div class="card-body">
    <p class="card-text">&#64;2025</p>
  </div>
</footer>